body {
  font-family: 'Raleway', sans-serif;
  background-color: #F2F2F2;
}


/* Navigation Bar */

nav {
  background-color: #463561;
  width: 100%;
  height: 80px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

nav img {
  width: 9%;
  height: 9%;
  margin: 10px 100px;
}

nav ul {
  margin: 0 auto;
  position: relative;
}

nav ul li {
  display: inline;
}

nav ul li {
  list-style: none;
  color: #FFF;
  font-size: 18px;
  margin-top: -55px;
  margin-right: 15px;
  padding: 2px;
}

nav ul li #flechaIzquierda {
  float: left;
  position: absolute;
  top: 10.7px;
  left: 12px;
  transform: scale(1.4);
  border-right: 1px solid #382B4C;
  padding: 18.59px;
  background-color: #523C72;
}

nav ul li #flechaIzquierda:hover {
  cursor: pointer;
}

nav ul li #tituloPrincipal {
  position: absolute;
  left: 35%;
  font-size: 22px;
  padding: 27px;
  width: 400px;
  text-align: center;
}


nav ul li #nombreSesion {
  position: absolute;
  top: 35px;
  right: 13.5%;
  font-size: 18px;
  transition: all 0.3 ease;
}

nav ul li #sesionDerecha {
  position: absolute;
  top: 22.5px;
  right: 10%;
  transform: scale(1.4);
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

nav ul li #sesionDerecha:hover {
  cursor: pointer;
  background-color: #382B4C;
  padding: 10px;
}

nav ul li #logoutDerecha {
  position: absolute;
  top: 10.7px;
  right: 0.8%;
  transform: scale(1.4);
  border-left: 1px solid #382B4C;
  padding: 18.5px;
  background-color: #523C72;
}

nav ul li #logoutDerecha:hover {
  cursor: pointer;
}
/*------------------------------------------*/


/*Inicio estilos del main*/
main #container form{
  display: flow-root;
}
main #container form .columna{
  float: left;
  margin-top: 5%;
  margin-left: 26%;
}
main #container form section div{
  margin-bottom: 10%;
}
main #container form div #btnRegistrar, #btnActualizar{
  margin-top: 2%;
  margin-right: 45%;
  float: right;
}
/*Fin estilos del main*/

































/* Footer */
footer #footerWrapper {
  background-color: #2F2F2F;
  color: #CCCCCC;
  font-size: 14px;
  height: 50px;
}

footer #footerWrapper span:first-child {
  float: left;
  margin: 15px;
}

footer #footerWrapper span:last-child {
  float: right;
  margin: 15px;
}
/*------------------------------------------*/
